<div class="navbar bg-neutral">
    <div class="navbar-start">
        <a class="btn">Social Angular</a>
    </div>
    <div class="navbar-end hidden sm:flex">
        <ul class="menu menu-horizontal p-0 text-base-100">
            <div *ngIf="jwt">
                  <li><a routerLink="/user/liste">Utilisateurs</a></li>
                  <li><a routerLink="article/liste">Articles</a></li>
            </div>
            <div *ngIf="!jwt">
                <li><a routerLink="">Connexion</a></li>
                <li><a routerLink="register">Inscription</a></li>
            </div>
            <div *ngIf="jwt">
                <button (click)="logout()" class="btn btn-error">Deconnexion</button>
            </div>
        </ul>
    </div>
</div>