<!--ajout-->
<main class="mt-20">
    <section>
        <!--<form [formGroup]="addForm" (ngSubmit)="submitForm()" class="card bg-base-100 shadow-xl p-4"> -->
        <div class="card bg-neutral text-neutral-content items-center mx-auto w-7/12">
            <div class="card-body items-center text-center w-full">
                <h2 class="card-title">Ajout d'un article</h2>
                <input type="text" placeholder="Votre titre" class="input input-bordered input-primary w-full max-w-xl"/>
                <textarea class="textarea w-full max-w-xl h-24" placeholder="Votre contenu"></textarea>
                <div class="card-actions justify-center">
                    <button class="btn btn-success">Ajout de l'article</button>
                </div>
            </div>
        </div>
        <!--</form> -->
    </section>
    

    <!--visionnage-->
    <section class="mt-10">
        <div class="card bg-primary text-primary-content items-center w-full mx-auto w-6/12">
            <div *ngFor="let article of allArticles" class="card-body p-10" >
                <h2 class="card-title">{{article.titre}}</h2>
                <p>{{article.contenu}}</p>
                <p class="text-info">Texte commentaire</p>
                <textarea class="textarea w-12/12 h-24" placeholder="Votre commentaire"></textarea>
                <div class="card-actions justify-center">
                    <button class="btn btn-success w-49">Ajout d'un commentaire</button>
                        <button class="btn btn-info w-48">Modification article</button>
                        <button class="btn btn-error w-48">Suppression article</button>
                </div>
            </div>
        </div>
    </section>
</main>