<div class="overflow-x-auto flex flex-1 items-center p-4">
  <table class=" cursor-pointer table w-96 flex flex-col container max-w-md mt-10 mx-auto w-full items-center justify-center bg-white dark:bg-gray-800 rounded-lg shadow  ">
    <thead>
      <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Email</th>
      </tr>
    </thead>
    <tbody>
    <!-- Users -->
     <tr>
          <th>1</th>
          <td>Anthony</td>
          <td>anthony@gmail.com</td>
      </tr>
    </tbody>
  </table>
</div>
    


