<main class="mt-20">
    <!--information utilisateur-->
    <section>
        <div class="card lg:card-side bg-base-100 shadow-xl w-9/12 m-auto mt-50">
            <figure><img src="https://api.lorem.space/image/album?w=400&h=400" alt="Album"></figure>
            <div class="card-body">
                <h1 class="card-title">Informations utilisateur</h1>
                <div>
                    <p>{{userData.pseudo}}</p>
                    <p>{{userData.email}}</p>
                </div>
            </div>
        </div>
    </section>
    <!--5 derniers articles/commentaires-->
    <section>
        <!--articles-->
        <div class="w-12/12 flex mt-10">
            <div class="card w-6/12 bg-base-100 shadow-xl m-auto m-10">
                <div class="card-body">
                    <h1>5 derniers articles de l'utilisateur</h1>
                    <p>We are using cookies for no reason.</p>
                </div>
            </div>
        <!--commentaires-->
            <div class="card w-6/12 bg-base-100 shadow-xl m-10">
                <div class="card-body">
                    <h1>5 derniers commentaires de l'utilisateur</h1>
                    <p>We are using cookies for no reason.</p>
                </div>
            </div>
        </div>
    </section>
</main>