<section class="p-10">
    <div class="card shadow-2xl items-center w-96 mx-auto bg-base-100 ">
        <div class="card-body">
            <h1 class="card-title justify-center">Inscription</h1>
            <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
                <input type="email" placeholder="Email" class="input input-bordered input-primary"  formControlName="email" />
                <input type="text" placeholder="Pseudo" class="input input-bordered input-primary"  formControlName="pseudo"/>
                <input type="password" placeholder="Mot de passe" class="input input-bordered input-primary"  formControlName="password" />
                <input type="password" placeholder="Confirmer mot de passe" class="input input-bordered input-primary"  formControlName="passwordConfirm"/>
            </form>
            <div class="card-actions justify-center">
            <button type="submit" class="btn btn-primary">S'inscrire</button>
            </div>
        </div>
    </div>
</section>
