<section class="p-10">
    <div class="card shadow-2xl items-center w-96 mx-auto bg-base-100 ">
        <div class="card-body">
            <h1 class="card-title justify-center">Inscription</h1>
            <input type="text" placeholder="Email" class="input input-bordered input-primary" />
            <input type="text" placeholder="Nom" class="input input-bordered input-primary" />
            <input type="text" placeholder="Mot de passe" class="input input-bordered input-primary" />
            <input type="text" placeholder="Confirmer mot de passe" class="input input-bordered input-primary" />
            <div class="card-actions justify-center">
            <button class="btn btn-primary">S'inscrire</button>
            </div>
        </div>
    </div>
</section>
